*{
    margin: 0%;
    padding: 0%;
    
    
}
.furr{
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.row{
    box-shadow: 0px 1px 5px black;}

.blue{
    /* border: 2px solid  green; */
    /* background-color: bisque; */
    padding: 5px ;
    /* margin-right: 100px; */

    
}
.black{
/* border: 2px solrgb(172, 172, 105)low; */
/* background-color: brown; */
padding: 5px;
/* margin-right: 200px; */
/* padding-left: 30px; */
}
#red{
    margin-right: 100px;}
.black img{
    width: 25px;
    height: 25px;
}
.navbar-text{
    background-color: orange;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

}
.a{
    padding-left: 120px;
    
}
#furqan{
    border: none;
    font-size: large;

}
.furqan{
    /* margin-left: 250px; */

}
.aya{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}
.card-group{
    gap: 30px;
    margin: 10px;
    text-align: center;
}
.card-title{
    font-size: xx-large;
    color: darkred;
}
.text-body-secondary{
    font-size: large;
    background-color: orange;
    padding: 10px 10px 10px;
    color: black;
    border-radius: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-footer {
  background-color: ;
  color: ;
  font-family: Arial, sans-serif;
  /* box-shadow: 0px 1px 3px 0px; */
}
.footer-container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-col {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s;
}
.footer-col ul li a:hover {
  color: black;
}
.social-links a {
  display: inline-block;
  margin-right: 10px;
}
.social-links img {
  width: 24px;
  height: 24px;

}
.fur{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.fur img{
  width:200px;
  height: 100px;
  /* margin-left:  1000px; */
  /* justify-content: flex-end; */
  
}
.footer-bottom {
  text-align: center;
  padding: 20px;
  /* background-color: #222; */
  font-size: 14px;
  box-shadow: 0px 1px 5px 0px ;
  
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-col {
    margin: 20px 0;
  }
}



